.profile-title{
  font-size: 25px;
}

.product-grid{
  display: grid;
}

.square-image{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 10px solid transparent;
  background-position: center;
  background-size: cover;
}

.btn-img-profile{
  font-size: 8px;
  padding: 0.25rem 0.25rem;
}

.img-profile .btn-edit-delete-container{
  opacity: 0;
}

.img-profile:hover .btn-edit-delete-container{
  opacity: 0.8;
  transition: opacity .15s ease-in-out;
}

.img-profile{
  position: relative;
  transition-delay: 2s;
}

.btn-edit-delete-container{
  position: absolute;
  right: 0.6rem;
  bottom: 0.5rem;
}
.btn-delete{
  background-color:$filo-pink;
}
.btn-edit{
  background-color: $filo-tifany;
}
.btn-arquive{
  background-color: $filo-light;
}
.btn-edit:hover{
  background-color:rgb(86, 214, 154);
  opacity: 1;
}
.btn-arquive:hover{
  background-color:$filo-white;
  opacity: 1;
}
.btn-delete:hover{
  background-color:rgb(240, 104, 26);
  opacity: 1;
}
@media (max-width: 720px) {
  .btn-img-profile{
    font-size: 5px;
    padding: 0.15rem 0.15rem;
  }
  .btn-edit-delete-container{
    bottom: 0rem;
  }
}

.dont-have-products {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.dont-have-products-title-btn{
  margin: auto;
}
.dont-have-products-title-btn h3{
  color: $filo-gray;
}