// Specific CSS for your home-page
.background-home {
  background-color: $filo-blue;
}

.title-home {
  font-family: $filo-logo;
  color: $filo-gold;
  font-size: 85px;
  margin-top: 200px;
}

.welcome {
  font-family: $filo-logo;
  color: $filo-gold;
  font-size: 30px;
}

.btn-home {
  font-family: $headers-font;
  font-size: 18px;
  width: 180px;
  margin: 0;
}

body {
  background-color: $filo-white;
}

.filomenna {
  background-color: $filo-white;
  color: $filo-blue;
  font-family: $headers-font;
}

.filomenna h1 {
  font-family: $filo-logo;
  color: $filo-gold;
}

.filomenna h2 {
  font-family: $filo-logo;
  font-size: 24px;
  margin-bottom: 5px;
  color: $filo-gold;
}

.filomenna p {
  text-align: justify;
}