// Specific CSS for your home-page
.background-home {
  background-color: $filo-blue;
}

h1 {
  font-family: $filo-logo;
  color: $filo-gold;
  font-size: 85px;
  margin-top: 200px;
}

h5 {
  font-family: $filo-logo;
  color: $filo-gold;
  font-size: 30px;
}

a {
  font-family: $headers-font;
  font-size: 24px;
  width: 150px;
}

body {
  background-color: $filo-white;
}