<div class="container">
  <div class="row"> 
    <div class="banner-user", style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), 
    rgba(128,128,128,0.1)), url('')"> 
      <div class="col-12">
      <div class="avatar-large">
          <% if product.user.photo.present? %>
            <%= cl_image_tag product.user.photo.key, class: "d-flex banner-index-avatar" %>
          <% else %>
            <%= image_tag "https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg", class: "d-flex banner-index-avatar" %>
          <% end %>
      </div>
        <div class="name-rating">
          <%if @product%>
            <p> <%= @product.user.first_name %> ⭐⭐⭐⭐⭐ </p> 
          <%else%>
            <p> <%= @profile.first_name %> ⭐⭐⭐⭐⭐ </p> 
          <%end%>
          <%#= @product.user.rating %>   
        </div> 
      </div>
    </div>
  </div>

  <%# <%#= cl_image_path @product.photos.first.key, transformation: [{crop: "crop", width: 900, height:1400},{width: 200, height: 400, gravity: 'auto', crop: "fill", quality: 100}]%>