<%= render "shared/navbar" %>
<div class="filomenna">
  <BR><BR>
  <div class="container">
  
    <h1>Termos de Uso do Filomenna</h1><br>

    <p class="text-justify"> A leitura, compreensão e aceitação destes Termos e Condições Gerais de Uso do Site são condições obrigatórias e indispensáveis para a realização do cadastro e utilização dos serviços oferecidos por FILOMENNA.HEROKUAPP.COM ATIVIDADES DE INTERNET S.A., empresa inscrita no CNPJ/MF sob o nº XX.XXX.XXX/0001-XX.</p>

    <p class="text-justify">Qualquer INTERESSADO em utilizar os serviços do FILOMENNA deverá, antes de realizar seu cadastro, ler e aceitar estes Termos e Condições Gerais de Uso do Site, a Política de Privacidade e todas as demais políticas e princípios que o regem.</p>

    <p class="text-justify">O FILOMENNA poderá, a qualquer tempo modificar, alterar ou excluir parte do conteúdo dos presentes TERMOS visando seu aprimoramento e a melhoria dos serviços prestados, razão pela qual o SITE recomenda a leitura atenta a cada acesso ao SITE.</p>
 
    <h2>1 - DEFINIÇÕES: </h2>

    <p class="text-justify">1.1. Nestes TERMOS, a menos que por outra forma expressamente disposto ou exigido em função do contexto, as expressões em letra maiúscula, no singular ou plural, terão os significados especificados abaixo:

    <p class="text-justify">ANÚNCIO - toda e qualquer oferta de produto veiculada no SITE;

    <p class="text-justify">CANCELAMENTO – cancelamento da compra antes do recebimento do produto pelo USUÁRIO COMPRADOR;

    <p class="text-justify">DADOS PESSOAIS - todas as informações inseridas pelo USUÁRIO para sua identificação pessoal durante a utilização do SITE; 

    <p class="text-justify">DEVOLUÇÃO – devolução do produto após o recebimento pelo USUÁRIO COMPRADOR;

    <p class="text-justify">NEGOCIAÇÃO - operação de compra e venda realizada através do SITE;

    <p class="text-justify"> SITE – site www.filomenna.herokuapp.com ou aplicativo FILOMENNA;

    <p class="text-justify"> TERMOS - os presentes Termos e Condições Gerais de Uso do Site;

    <p class="text-justify"> USUÁRIOS -  pessoas maiores de 18 (dezoito) anos, capazes nos termos da lei, cadastradas SITE;

    <p class="text-justify">USUÁRIOS VENDEDORES - USUÁRIOS cadastrados no SITE e que estejam inserindo ANÚNCIOS de seus produtos;

    <p class="text-justify">USUÁRIOS COMPRADORES - USUÁRIOS cadastrados no SITE quando realizando compras de produtos.

    <h2>2 - OBJETO </h2>

    <p>2.1. Os presentes TERMOS regulam os serviços de intermediação oferecidos pelo FILOMENNA, que consistem em:

    <p>(i) ofertar e hospedar espaços no SITE para que os USUÁRIOS VENDEDORES anunciem para venda seus próprios produtos, sejam eles, novos, seminovos ou usados, e;

    <p>(ii) viabilizar o contato entre USUÁRIOS VENDEDORES e USUÁRIOS COMPRADORES, interessados em adquirir os produtos anunciados.

    <p>2.2. Todas as fases da NEGOCIAÇÃO, desde o ANÚNCIO, até o PAGAMENTO, devem ser integralmente realizadas pelos USUÁRIOS dentro da plataforma do SITE, sendo vedada qualquer divulgação de contato pessoal durante a NEGOCIAÇÃO, sob pena de aplicação das penalidades previstas nestes TERMOS.

    <p>2.3. O serviço oferecido pelo FILOMENNA é de intermediação de negócios, sendo que as condições de venda dos produtos anunciados no site serão livremente determinadas, em cada caso, exclusivamente pelos USUÁRIOS VENDEDORES. O USUÁRIO COMPRADOR compreende e aceita que o SITE não fornece nenhum tipo de garantia dos produtos anunciados.

    <p>2.3.1 As operações de compra e venda realizadas através do SITE serão de responsabilidade EXCLUSIVA dos respectivos USUÁRIOS VENDEDORES e USUÁRIOS COMPRADORES. O USUÁRIO reconhece e aceita que, ao realizar negociações com outros USUÁRIOS ou com terceiros, o faz por sua conta e risco.

    <p>2.4. O FILOMENNA recomenda que toda transação seja realizada com cautela e bom senso, devendo o USUÁRIO avaliar os riscos da NEGOCIAÇÃO.

    <h2>3 - CADASTRAMENTO</h2>

    <p>3.1. O cadastramento no SITE é pessoal, intransferível e gratuito. Os serviços oferecidos pelo SITE serão cobrados de acordo com as regras estabelecidas nestes TERMOS.

    <p>3.2. SOMENTE PODERÃO CADASTRAR-SE NO SITE MAIORES DE 18 (DEZOITO) ANOS, CAPAZES NA FORMA DA LEI; RESIDENTES NO BRASIL; QUE ESTEJAM REGULARMENTE INSCRITOS NO CPF/MF E SEJAM TITULARES DE CONTA BANCÁRIA REGISTRADA SOB O MESMO CPF DO CADASTRO NO SITE; E POSSUAM UM ENDEREÇO DE E-MAIL VÁLIDO.

    <p>3.3. Para solicitação de cadastramento, o INTERESSADO deverá preencher todos os campos do cadastro disponíveis no SITE e confirmar o seu endereço eletrônico (e-mail). O INTERESSADO deve fornecer informações exatas, precisas e verdadeiras, assumindo o compromisso de imediatamente atualizar seus DADOS PESSOAIS sempre que neles ocorrer alguma alteração.

    <p>3.4. O conteúdo das informações inseridas no cadastro é responsabilidade exclusiva do INTERESSADO, não sendo o FILOMENNA responsável pela verificação dos DADOS PESSOAIS. Os USUÁRIOS garantem e respondem, em qualquer caso, civil e criminalmente, pela veracidade, exatidão e autenticidade dos DADOS PESSOAIS cadastrados.

    <p>3.4.1. Sem prejuízo do disposto no item 3.4. acima, o FILOMENNA poderá, a qualquer tempo e a seu exclusivo critério, verificar os DADOS PESSOAIS dos USUÁRIOS podendo, para tanto, solicitar documentos e comprovantes para verificação das informações fornecidas.

    <p>3.5. Após análise, o SITE poderá recusar qualquer solicitação de cadastro, bem como cancelar um cadastro previamente aceito, que esteja em desacordo com estes TERMOS ou que exponha a risco outros USUÁRIOS ou terceiros.

    <p>3.6. O cadastramento do INTERESSADO no SITE, uma vez aprovado, permitirá a utilização dos serviços do SITE. Em nenhuma hipótese será permitida a cessão, venda, aluguel ou outra forma de transferência da conta de um USUÁRIO.

    <p>3.7. Cada USUÁRIO pode ter apenas um cadastro no SITE. Caso seja identificada a existência de cadastros duplicados, o SITE poderá inabilitar de forma definitiva todos os cadastros do USUÁRIO, independentemente de notificação prévia.

    <p>3.8. OS DADOS PESSOAIS INFORMADOS PELO USUÁRIO, INCLUSIVE DADOS BANCÁRIOS, SERÃO UTILIZADOS POR EMPRESAS GESTORAS DE PAGAMENTOS ONLINE, REGULAMENTADAS PELO BANCO CENTRAL, COM AS QUAIS O FILOMENNA TEM CONTRATO. ESSAS EMPRESAS SERÃO RESPONSÁVEIS PELO PROCESSAMENTO DOS PAGAMENTOS, CONFORME DESCRITO NA CLÁUSULA 9 DESTES TERMOS. PARA TANTO, O USUÁRIO EXPRESSAMENTE AUTORIZA O SITE A COMPARTILHAR OS SEUS DADOS COM ESSAS EMPRESAS, PARA ESSA FINALIDADE.

    <p>3.9. Sem prejuízo de outras medidas, o FILOMENNA poderá, a qualquer tempo e, a seu exclusivo critério, suspender ou cancelar, temporária ou definitivamente, o cadastro de um USUÁRIO, se:

    <p>(i) o USUÁRIO descumprir quaisquer disposições dos presentes TERMOS ou demonstrar sua discordância com relação a estes TERMOS;

    <p>(ii) descumprir com seus deveres de USUÁRIO;

    <p>(iii) praticar atos fraudulentos ou dolosos;

    <p>(iv) não puder ser verificada a identidade do USUÁRIO ou se verificado que qualquer informação fornecida por ele está incorreta;

    <p>(v) os ANÚNCIOS ou qualquer atitude do USUÁRIO tenham causado algum dano a terceiros ou ao próprio SITE ou tenham a potencialidade de assim o fazer.

    <p>3.9.1.   Nos casos de inabilitação do cadastro do USUÁRIO pelas razões aqui elencadas, todos os ANÚNCIOS ativos e/ou ofertas realizadas serão automaticamente cancelados.

    <p>3.9.2.   USUÁRIOS que tenham sido inabilitados pelo FILOMENNA não poderão realizar novo cadastro no SITE.

    <p>3.10. O USUÁRIO poderá, a qualquer momento, solicitar a exclusão de seu cadastro. Para isso, deverá enviar uma solicitação para a central de atendimento do SITE, clicando em “Ajuda”, que analisará a solicitação no prazo de 10 (dez) dias úteis, para verificar eventuais compras e vendas ainda não finalizadas. Caso não existam pendências, o FILOMENNA irá realizar a exclusão do cadastro, mantendo em seus arquivos as informações sobre transações realizadas, nos termos da legislação aplicável.

    <h2>4 - ACESSO AO SITE</h2>

    <p>4.1. O USUÁRIO acessará sua conta através de login e senha cujo uso e responsabilidade são exclusivamente pessoais. O USUÁRIO é integralmente responsável pela utilização dos serviços do SITE em seu nome e/ou com a sua senha, bem como por adotar as medidas e cautelas necessárias para manter em sigilo absoluto suas informações de acesso, as quais jamais devem ser fornecidas a terceiros.

    <p>4.2. Em caso de perda, extravio ou suspeita de utilização indevida de sua conta, login ou senha, o USUÁRIO deverá imediatamente comunicar o SITE por meio de contato com a central de atendimento, clicando em “Ajuda”. Até apurar o quanto ocorrido, o SITE manterá bloqueado o cadastro do USUÁRIO, por medida de segurança.

    <p>4.3. O USUÁRIO deverá adotar um nome de loja para utilização no SITE. Fica estabelecido que o mesmo não poderá guardar qualquer semelhança com o nome FILOMENNA nem com qualquer outra marca registrada. O USUÁRIO não poderá usar um nome que insinue ou sugira que os produtos anunciados por ele pertencem ao FILOMENNA, que seja considerado ofensivo ou que contenha informações do USUÁRIO ou alguma URL ou endereço eletrônico que permita a identificação do USUÁRIO fora do SITE.

    <h2>5 - OBRIGAÇÕES E RESPONSABILIDADES DOS USUÁRIOS</h2>

    <p>5.1. Somente poderão ser anunciados no SITE aqueles produtos cuja venda não esteja expressamente proibida pelos presentes TERMOS, demais políticas do FILOMENNA e, em especial, pela legislação vigente no Brasil.

    <p>5.2. Fica expressamente proibido anunciar ou vender produtos que tenham sua comercialização proibida e/ou controlada no território brasileiro, bem como, mas não se limitando a:

    <p>(i) armas de fogo, armas brancas ou similares, pólvora ou material explosivo, narcóticos, tóxicos e qualquer sorte de drogas ilegais;

    <p>(ii) medicamentos, qualquer tipo de drogas, produtos ou cosméticos aos quais se atribua efeitos terapêuticos de qualquer natureza;

    <p>(iii) produtos roubados ou furtados;

    <p>(iv) órgãos humanos e/ou de animais, no todo ou em parte;

    <p>(v) moedas e cédulas, exceto exemplares para fins de coleção;

    <p>(vi) produtos de contrabando, falsificados ou adulterados, bem como cópia ou réplica de produtos de terceiros;

    <p>(vii) ações de empresas negociadas em Bolsa de Valores, bilhetes de loteria, listas de correio ou bases de dados pessoais;

    <p>(viii) produtos relacionados à prostituição ou similares, material pornográfico, obsceno ou contrário à moral e aos bons costumes;

    <p>(ix) cigarros e outros produtos derivados do tabaco;

    <p>(x) aparelhos ativos, eletroestimuladores, aparelhos e produtos para utilização em educação física, embelezamento e correção estética, que não estejam devidamente registrados e aprovados perante a Agência Nacional de Vigilância Sanitária e demais órgãos reguladores;

    <p>(xi) CDs que contenham música em formato MP3;

    <p>(xii) produtos que façam apologia ou representem organizações que promovam o ódio, a violência e/ou o cometimento de crimes;

    <p>(xiii) produtos que tenham qualquer tipo de conteúdo de propaganda/campanha político-partidária;

    <p>(xiv) bebidas em geral e produtos alimentícios;

    <p>(xv) máquinas de cartão de crédito/débito e outros;

    <p>(xvi) produtos destinados às telecomunicações que não estejam devidamente homologados pela Anatel – Agência Nacional de Telecomunicações;

    <p>(xvii) quaisquer espécies de animais ou partes de animais;

    <p>(xviii) amostra grátis ou brindes.

    <p>5.3. Além de observar as restrições do item 5.2. acima, o USUÁRIO VENDEDOR está ciente que não poderá ofertar produtos que:

    <p>(i) tenham conteúdo ilícito; violento; pornográfico; ofensivo; que possam atentar contra a honra e dignidade de terceiros; ou que veiculem, incitem ou estimulem a pedofilia;

    <p>(ii) induzam ou incitem práticas perigosas, de risco ou nocivas para a saúde e para o equilíbrio psíquico;

    <p>(iii) promovam, façam publicidade, ou incitem a violência, o cometimento de crimes, e/ou a discriminação ou preconceito, baseada em questões de raça, sexo, religião, gênero, orientação sexual, nacionalidade, condição social ou econômica, intelectual, política-ideológica, ou de qualquer outro tipo;

    <p>(iv) sejam falsos, ambíguos, ou inexatos, de forma que possam induzir ao erro sobre seu objeto ou sobre as intenções ou propósitos do consumidor;

    <p>(v) violem o direito autoral, de propriedade industrial ou de privacidade de terceiros;

    <p>(vi) de qualquer maneira direta ou indireta configurem ou possam levar a configuração de uma situação de concorrência desleal;

    <p>(vii) estejam fora da data de validade.

    <p>5.4. O FILOMENNA poderá, a seu exclusivo critério e sem aviso prévio, excluir quaisquer anúncios de produtos que violem as regras aqui estabelecidas.

    <p>5.5. Os USUÁRIOS não poderão utilizar o SITE para:

    <p>(i) divulgar dados de contato do USUÁRIO através das páginas dos produtos no SITE;

    <p>(ii) sugerir, persuadir ou incitar, de qualquer forma e por qualquer meio, que a negociação de compra e venda de produtos anunciados no SITE seja consumada fora da plataforma do SITE;

    <p>(iii) instigar, ameaçar, ofender, abalar a imagem, violar a privacidade ou prejudicar outros;

    <p>(iv) alterar e/ou copiar arquivos ou ainda obter senhas e dados de terceiros sem prévia autorização;

    <p>(v) desrespeitar a lei, a moral, os bons costumes, as normas de direito autoral e/ou propriedade industrial, os direitos à honra, à vida privada, à imagem, à intimidade pessoal e familiar;

    <p>(vi) incitar a prática de atos discriminatórios, seja em razão de sexo, raça, religião, crenças, idade ou qualquer outra condição.

    <p>5.6. O USUÁRIO COMPRADOR deverá:

    <p>(i) ter capacidade legal para negociar o produto;

    <p>(ii) após a compra de um item anunciado através das ferramentas do SITE, contatar o USUÁRIO VENDEDOR, esclarecendo as dúvidas eventualmente existentes;

    <p>(iii) efetuar o pagamento do preço pelas formas disponíveis no SITE e confirmar o recebimento do produto.

    <p>5.7. O USUÁRIO VENDEDOR deverá:

    <p>(i) ter capacidade legal para negociar o produto;

    <p>(ii) entrar em contato com o USUÁRIO COMPRADOR, esclarecendo as dúvidas eventualmente existentes; e

    <p>(iii) reservar o produto para entrega, conforme condições previstas nestes TERMOS e acordadas com o USUÁRIO COMPRADOR.

    <h2>6 - ANÚNCIOS</h2>

    <p>6.1. Ao incluir os ANÚNCIOS de seus produtos no SITE, o USUÁRIO VENDEDOR obriga-se a:

    <p>(i) ter em sua posse o produto para entrega imediata;

    <p>(ii) respeitar a legislação vigente, não utilizando propagandas enganosas que possam induzir o USUÁRIO COMPRADOR a erro;

    <p>(iii) informar com clareza as características do produto ou do serviço, o preço, bem como eventuais despesas adicionais;

    <p>(iv) indicar a quantidade de produto ofertado, sendo esta a quantidade de produto imediatamente disponível para entrega;

    <p>(v) utilizar exclusivamente fotografias de sua autoria;

    <p>(vi) não informar em qualquer parte do anúncio formas para contato fora do SITE;

    <p>(vii) não realizar práticas abusivas.

    <p>6.1.1.  O USUÁRIO VENDEDOR está expressamente ciente que ao anunciar produtos cuja certificação pelo INMETRO seja obrigatória/compulsória o selo do INMETRO e a nota fiscal do produto deverão estar reproduzidos em todas as páginas do anúncio.

    <p>6.2. A descrição dos produtos expostos no SITE é feita pelo USUÁRIO VENDEDOR e enviada ao SITE, sendo que as fotografias ou vídeos, nomes comerciais, marcas, símbolos distintivos de qualquer natureza são expostos apenas e tão somente a título de informação.

    <p>6.3. O USUÁRIO VENDEDOR está ciente e de pleno acordo, que o ANÚNCIO poderá ser submetido a uma avaliação e poderá receber uma descrição customizada pela equipe do SITE. A customização da descrição realizada pelo SITE não importa em assunção de qualquer responsabilidade pelo SITE pelo produto ofertado, sendo certo que se destina apenas a padronizar a linguagem da descrição e caracterização do produto ofertado. Assim, após confirmação da publicação do produto no SITE, o USUÁRIO VENDEDOR deverá verificar se a descrição está correta e, caso necessário, em caso de incorreções, solicitar a alteração através da central de atendimento do SITE, clicando em “Ajuda”

    <p>6.4. As fotografias do produto devem ser feitas pelo USUÁRIO VENDEDOR e devem corresponder à fiel reprodução do produto ofertado. As fotos dos produtos não poderão violar direito autoral de terceiro, sendo certo que o SITE poderá solicitar a qualquer momento, documento que comprove a correta utilização das imagens pelo USUÁRIO, sem prejuízo de sua exclusão imediata do SITE em caso do não atendimento imediato de tal solicitação.

    <p>6.5 O USUÁRIO VENDEDOR é responsável pela definição do valor cobrado pelo produto. Esse valor deve ser igual ou superior a R$ 9,00 (nove reais).

    <p>6.6. O USUÁRIO VENDEDOR se responsabiliza pela qualidade, procedência, originalidade, bem como pela entrega do produto, não tendo o FILOMENNA qualquer responsabilidade nesse sentido.

    <p>6.7. Qualquer USUÁRIO poderá denunciar a existência de qualquer ANÚNCIO que contrarie o disposto nestes TERMOS através do botão de “denúncia”, na página do ANÚNCIO.

    <p>6.8. O ANÚNCIO, que é de responsabilidade exclusiva do USUÁRIO VENDEDOR, pode ser divulgado, a critério exclusivo do SITE, em redes sociais, banners e outros canais de divulgação.

    <p>6.9. O USUÁRIO VENDEDOR desde já autoriza também que os produtos por ele vendidos sejam revendidos no SITE por terceiros utilizando o mesmo ANÚNCIO, incluindo o uso das imagens e texto ali incluídos, desde que respeitando estes TERMOS.

    <p>6.10. Somente serão aceitos ANÚNCIOS que estejam em perfeita consonância com os presentes TERMOS.

    <p>6.11. Os ANÚNCIOS do USUÁRIO VENDEDOR que estiverem em desacordo com os presentes TERMOS podem ser cancelados pelo SITE, sem que quaisquer ônus, indenizações ou ressarcimentos de qualquer natureza lhe sejam devidos, e sem prejuízo da aplicação das sanções que o FILOMENNA entender pertinentes.

    <h2>7 - DISPONIBILIDADE DO PRODUTO</h2>

    <p>7.1. O USUÁRIO VENDEDOR declara possuir o produto ofertado, em território nacional, para entrega imediata. Caso não possua o produto anunciado para entrega imediata, cabe ao USUÁRIO VENDEDOR suspender/desativar temporariamente o ANÚNCIO até que o produto esteja disponível em seu estoque para pronta entrega. O USUÁRIO VENDEDOR será o exclusivo responsável pelo não cumprimento da entrega do produto no prazo acordado com o USUÁRIO COMPRADOR.

    <p>7.2. O USUÁRIO COMPRADOR declara ter conhecimento que os produtos anunciados podem ter estoques que são limitados e que, em algumas ocasiões, devido a causas dificilmente controláveis, como problemas nos sistemas informáticos e operações simultâneas, é possível que o produto não esteja disponível depois de ter sido realizado o pedido. Neste caso, o USUÁRIO será notificado pela equipe de atendimento sobre a anulação de seu pedido, sendo integralmente reembolsado pelos valores eventualmente já pagos.

    <h2>8 - COMUNICAÇÕES</h2>

    <p>8.1. Todas as comunicações e negociações sobre produtos ofertados no SITE e que se originem através do SITE deverão necessariamente ser feitas dentro do próprio SITE. Não é permitido que o USUÁRIO VENDEDOR direcione o USUÁRIO COMPRADOR, ou vice versa, para outros veículos com a finalidade de concluir a NEGOCIAÇÃO fora do SITE.

    <p>8.2. A comunicação entre USUÁRIO COMPRADOR e USUÁRIO VENDEDOR poderá ficar armazenada no SITE de forma a preservar um histórico completo dos pedidos realizados no SITE e a verificação do cumprimento das políticas e regras aqui estabelecidas.

    <p>8.3. O USUÁRIO aceita que não é permitido inserir ou manter no próprio ANÚNCIO ou na seção de perguntas e repostas, quaisquer dados pessoais para contato direto, tais como, mas não se limitando a, números de telefones, endereços de e-mails ou páginas de internet, bem como, dados bancários próprios ou de terceiros.

    <p>8.4.  O FILOMENNA não assume qualquer responsabilidade pelo conteúdo das comunicações entre os USUÁRIOS, nem tem obrigação de monitorar tal conteúdo. Todavia, o FILOMENNA se reserva o direito de moderar a seção de perguntas e respostas e eliminar mensagens, palavras e expressões consideradas agressivas, caluniosas, injuriosas e difamatórias ou que violem qualquer outra regra destes TERMOS.

    <p>8.5. Ainda, o FILOMENNA se reserva o direito de divulgar o conteúdo das comunicações entre USUÁRIOS, assim como as comunicações dos USUÁRIOS com a central de atendimento do SITE, sempre que necessário para a correta elucidação de questões decorrentes das NEGOCIAÇÕES entre USUÁRIOS, ou decorrentes do cumprimento dos presentes TERMOS,

    <h2>9 - FORMAS DE PAGAMENTO E RECEBIMENTO DE VALORES PELOS USUÁRIOS</h2>

    <p>9.1. Todas as transações financeiras realizadas através do SITE serão processadas pela WIRECARD e/ou pelo PAGAR.ME, empresas independentes, gestoras de pagamentos online, regulamentadas pelo Banco Central. 
  
    <p>9.1.1. Ao utilizar os serviços do FILOMENNA o usuário estará automaticamente concordando com os Termos e Condições de Uso dos Serviços prestados por essas gestoras de pagamentos, disponíveis em https://wirecard.com.br/contrato/ e https://pagar.me/documentos/termos-de-uso.pdf

    <p>9.1.2. As empresas gestoras de pagamento online serão integralmente responsáveis pela realização das transações financeiras. Elas farão todo o serviço de captura, processamento, roteamento, liquidação e gestão dos pagamentos e o FILOMENNA funcionará como mera interface entre o USUÁRIO e os sistemas dessas empresas.

    <p><p>9.2.      Para garantir a realização e integridade das transações financeiras, os dados fornecidos ao FILOMENNA pelo USUÁRIO serão compartilhados com as empresas gestoras de pagamentos online elencadas na cláusula 9.1., que, por sua vez, se responsabilizam pela segurança e sigilo destes dados e se comprometem, contratualmente, a não utilizar/tratar os dados dos USUÁRIOS para quaisquer finalidades diferentes daquelas estabelecidas nestes TERMOS.
  
    <p>9.3. É vedado ao USUÁRIO usar, oferecer, divulgar e, de qualquer forma, favorecer outros serviços de pagamento que não aqueles prestados pelas empresas listadas na cláusula 9.1. Em caso de descumprimento desta cláusula, o ANÚNCIO será automaticamente excluído do SITE, sem prejuízo da aplicação de outras penalidades previstas nestes TERMOS.

    <p>9.4. Os valores pagos na aquisição dos produtos pelo USUÁRIO COMPRADOR serão creditados no ENJUBANK do USUÁRIO VENDEDOR em 15 (quinze) dias corridos, a contar da data do pagamento, desde que transcorridos 8 (oito) dias da confirmação do recebimento do produto pelo USUÁRIO COMPRADOR ou da comprovação da efetivação de entrega disponibilizada pela operador logístico na consulta do código rastreador do objeto, o que ocorrer primeiro.

    <p>9.5. Caso o USUÁRIO VENDEDOR opte pela forma de envio “retirada no local”, os valores pagos na aquisição dos produtos pelo USUÁRIO COMPRADOR serão creditados no ENJUBANK do USUÁRIO VENDEDOR em 15 (quinze) dias corridos, a contar da data do pagamento, desde que transcorridos 8 (oito) dias da confirmação de recebimento do produto pelo USUÁRIO COMPRADOR.

    <p>9.6. O USUÁRIO COMPRADOR será notificado pelo SITE para confirmação do recebimento do produto dentro do prazo de 02 (dois) dias úteis e, caso não se manifeste, os valores serão disponibilizados ao USUÁRIO VENDEDOR, que deverá comprovar o envio através do Código de Rastreamento disponibilizado pelo operador logístico.

    <p><p>9.7. O USUÁRIO COMPRADOR que cancelar a compra será reembolsado da seguinte forma: se o pagamento foi feito via cartão de crédito, o estorno será solicitado à operadora do cartão, via empresa gestora de pagamentos online, e ocorrerá nas próximas faturas do cartão crédito do USUÁRIO, sendo responsabilidade do banco emissor do cartão a forma como o valor será creditado para o portador; se o pagamento foi feito via boleto bancário, o USUÁRIO COMPRADOR receberá um e-mail do SITE, com orientações e um link para realização da transferência do valor para uma conta corrente bancária de titularidade do USUÁRIO COMPRADOR.

    <p>9.7.1. Caso o USUÁRIO COMPRADOR encontre dificuldades em receber o reembolso nas formas previstas nesta cláusula, ele deverá entrar em contato com a central de atendimento do SITE, oportunidade em que será orientado acerca dos procedimentos que deverá adotar para recebimento do reembolso.

    <p>9.8.   Os USUÁRIOS têm expressa ciência que, por motivos de segurança, todas as solicitações de saque e/ou reembolso iniciadas devem ser concluídas pelos USUÁRIOS no prazo máximo de 180 (cento e oitenta dias), sob pena de cancelamento do procedimento pelo SITE, sem direito de indenização ao USUÁRIO.

    <p>9.9.   O saldo do USUÁRIO poderá ser bloqueado caso o ele tenha deixado de quitar qualquer cobrança enviada pelo SITE, tais como, devolução, pelo USUÁRIO VENDEDOR, de pagamento recebido indevidamente em virtude de vendas posteriormente canceladas ou não concluídas; devolução, pelo USUÁRIO COMPRADOR, de valor de compras estornadas em seu favor, que posteriormente foram concluídas com sucesso; etc.

    <p>9.10. O FILOMENNA poderá, baseado em critérios de risco definidos internamente, suspender, provisória ou definitivamente, o pagamento de valores decorrentes de vendas efetivadas por intermédio de contas de USUÁRIOS que estiverem passando por processo de análise de risco e de segurança.

    <h2>10 - REMUNERAÇÃO PELO USO DO SITE – USUÁRIO VENDEDOR </h2>

    <p>10.1. Pelo desenvolvimento da atividade de intermediação, o FILOMENNA cobrará do USUÁRIO VENDEDOR uma comissão sobre o valor de venda do produto. O percentual da comissão, que poderá variar entre 18,5% (dezoito e meio por cento) e 20% (vinte por cento), será calculado em razão do valor do produto.

    <p>10.1.1. Em adição a essa comissão, o SITE cobrará do USUÁRIO VENDEDOR uma taxa administrativa, variável de acordo com o valor do produto, conforme tabela disponível em www.filomenna.com.br/taxas. O USUÁRIO VENDEDOR também arcará, em conjunto com o SITE, com o custo de parte do valor do frete, conforme política comercial disponível em https://www.filomenna.herokuapp.com/politica-comercial.

    <p>10.2. A remuneração aqui prevista será devida em razão da efetivação da NEGOCIAÇÃO e será automaticamente debitada do valor que o USUÁRIO VENDEDOR tem a receber pela venda.

    <p>10.3.  Para a manutenção de contas ENJUBANK com saldo e sem movimentação de saque ou compras por crédito por período igual ou superior a 6 (seis) meses, será cobrada uma taxa de R$ 9,99 (nove reais e noventa e nove centavos) mensais.
  
    <p>10.4. Para a manutenção de contas ENJUBANK com saldo e sem movimentação de saque ou compras por crédito por período igual ou superior a 18 (dezoito) meses, será cobrada uma taxa de R$ 19,99 (dezenove reais e noventa e nove centavos) mensais.
  
    <p>10.5.   Para realização de saques em valores inferiores a R$ 200,00 (duzentos reais), será cobrada uma tarifa de saque, no valor R$ 1,50 (um real e cinquenta centavos).
  

    <h2>11 - REMUNERAÇÃO PELO USO DO SITE – USUÁRIO COMPRADOR</h2>

    <p>11.1. Pelo desenvolvimento da atividade de intermediação, o FILOMENNA cobrará do USUÁRIO COMPRADOR uma TARIFA DE SERVIÇO, variável de acordo com a faixa de preço do produto escolhido, conforme tabela disponível em www.filomenna.com.br/taxas.

    <p>11.2. O valor da TARIFA DE SERVIÇO será calculado e exibido de forma clara, para que o comprador tenha ciência expressa antes de finalizar a compra, no momento do checkout.

    <p>11.3. A TARIFA DE SERVIÇO não é reembolsável em casos de devolução.

    
    <h2>12 – CANCELAMENTOS E DEVOLUÇÕES</h2>

    <p>12.1. Caso queira desistir da compra antes de receber o produto, o USUÁRIO COMPRADOR poderá agendar um CANCELAMENTO a partir do 15º (décimo quinto) dia corrido após a compra, o qual será automaticamente efetivado no 20º (vigésimo) dia corrido após a compra, salvo casos nos quais o produto tenha sido enviado e recebido, o que configurará casos de DEVOLUÇÃO de produto.

    <p>12.2. O USUÁRIO COMPRADOR que adquirir mais de um produto, utilizando-se da funcionalidade SACOLINHA, somente poderá realizar o CANCELAMENTO de toda a compra. Apenas quando o produto for recebido é que poderá ser realizada a DEVOLUÇÃO de itens avulsos.

    <p>12.2.1. Em casos de CANCELAMENTO de compra, será devolvido o valor integral da transação, incluindo frete e TARIFA DE SERVIÇO.

    <p>12.3.    O USUÁRIO COMPRADOR tem o prazo de 7 (sete) dias corridos, contados a partir da data de recebimento do produto, para solicitar a DEVOLUÇÃO, independente do motivo. Para efetuar o procedimento de DEVOLUÇÃO, o USUÁRIO COMPRADOR deverá enviar uma solicitação à central de atendimento do SITE, clicando em Ajuda. O SITE irá avaliar o pedido e responderá à solicitação com as instruções pertinentes. 

    <p>12.3.1. O USUÁRIO COMPRADOR que adquirir mais de um produto, utilizando-se da funcionalidade SACOLINHA, deverá proceder à DEVOLUÇÃO de uma, algumas ou de todas as mercadorias de uma única vez, conjuntamente, no prazo de 07 (sete) dias acima fixado.

    <p>12.3.2. Caso o USUÁRIO COMPRADOR, por ocasião da compra, opte pela modalidade "frete padrão", o valor do frete será integralmente reembolsado em caso de devolução da mercadoria, sendo cobrada apenas a TARIFA DE SERVIÇO, prevista na cláusula 11.1. destes TERMOS.

    <p>12.3.3. Ao optar pelo "frete reduzido" ou pelo “frete promocional”, o USUÁRIO COMPRADOR declara-se expressamente ciente que, em caso de devolução do produto, o valor do reembolso será calculado da seguinte forma: o USUÁRIO COMPRADOR receberá o valor pago pela compra, descontados os valores correspondentes ao “frete padrão” e à TARIFA DE SERVIÇO, ambos expressamente informados antes da finalização da compra, no momento do checkout.

    <p>12.4. O USUÁRIO COMPRADOR terá 03 (três) dias úteis para efetuar o envio do produto, contados a partir da data da autorização da equipe de atendimento do SITE, que enviará o código de postagem ao USUÁRIO COMPRADOR, sendo este responsável por informar ao SITE o código de rastreio do objeto. A não observância do prazo de postagem previsto nesta cláusula implicará no cancelamento automático do pedido de DEVOLUÇÃO, não sendo possível fazer um novo pedido

    <p>12.5. Uma vez solicitada a devolução do produto pelo USUÁRIO COMPRADOR o SITE não autorizará a liberação do pagamento ao USUÁRIO VENDEDOR, tendo em vista a necessidade de devolução do valor pago pelo produto ao USUÁRIO COMPRADOR
    
    <p>12.5.1. Antes de enviar o produto em devolução, o USUÁRIO COMPRADOR deve fotografá-lo, com a finalidade de comprovar o estado em que este se encontrava antes do envio. As fotografias devem ser mantidas pelo USUÁRIO COMPRADOR pelo prazo de 10 (dez) dias, a contar do recebimento do produto pelo USUÁRIO VENDEDOR. Sempre que necessário, o FILOMENNA solicitará ao USUÁRIO COMPRADOR essas fotografias e, caso ele não as possua ou deixe de enviá-las, será presumido que o produto foi enviado nas condições que o USUÁRIO VENDEDOR comprovar que o recebeu.

    <p>12.6. Caso o produto postado pelo USUÁRIO COMPRADOR para DEVOLUÇÃO ao USUÁRIO VENDEDOR não possa ser entregue pelo operador logístico em decorrência de culpa do USUÁRIO VENDEDOR, como, por exemplo, em virtude de seu endereço cadastral estar errado, incompleto, ou inexistente, ou ainda em virtude de diversas tentativas de entrega sem sucesso, etc, e, por esse (s) motivo (s), retorne ao endereço do USUÁRIO COMPRADOR, o USUÁRIO COMPRADOR terá o prazo improrrogável de 7 (sete) dias corridos, a contar do recebimento da mercadoria, para comunicar o ocorrido ao FILOMENNA, que tomará as providências cabíveis. A não observância deste prazo implicará no cancelamento automático da solicitação de DEVOLUÇÃO, não sendo possível fazer uma nova solicitação.

  <p>12.6.1.  Caso a entrega ao USUÁRIO VENDEDOR seja infrutífera, conforme previsto na cláusula 12.6. acima, o FILOMENNA poderá, a seu exclusivo critério e em benefício dos USUÁRIOS, manter o produto sob sua guarda, pelo período máximo de 6 (seis) meses, e, ao final deste prazo, não havendo manifestação expressa do USUÁRIO VENDEDOR, com a efetiva a retirada da mercadoria, o produto será automaticamente encaminhado para doação para instituições selecionadas pelo FILOMENNA.

  <p>12.7. Caso haja 1 (um), 2 (dois) ou 3 (três) cancelamentos dentre as 5 (cinco) primeiras transações efetuadas pelo USUÁRIO VENDEDOR no SITE, a sua respectiva lojinha será automaticamente colocada no modo “férias” após o respectivo cancelamento, inviabilizando a venda de produtos.

  <p>12.7.1. Realizada a mudança para o modo “férias”, o USUÁRIO VENDEDOR receberá uma comunicação do SITE informando sobre a alteração em sua lojinha e poderá reativá-la imediatamente e autonomamente.

  <p>12.8. Caso ocorram mais de 3 (três) cancelamentos dentre as 5 (cinco) primeiras transações efetuadas pelo USUÁRIO VENDEDOR no SITE, sua lojinha poderá ser inabilitada de forma definitiva.

    <h2>13 - LIMITE DE RESPONSABILIDADE</h2>

    <p>13.1. O SITE É UM INTERMEDIADOR DE NEGÓCIOS, NÃO SENDO, PORTANTO, PARTE INTEGRANTE DAS NEGOCIAÇÕES DE PRODUTOS E SERVIÇOS REALIZADAS ENTRE OS USUÁRIOS, DESTA FORMA, A RESPONSABILIDADE POR TODAS AS OBRIGAÇÕES DELAS DECORRENTES, SEJAM FISCAIS, TRABALHISTAS, CONSUMERISTAS OU DE QUALQUER OUTRA NATUREZA, SERÁ EXCLUSIVAMENTE DOS USUÁRIOS.

    <p>13.2 EM RAZÃO DE NÃO SER O SITE O PROPRIETÁRIO DOS PRODUTOS ANUNCIADOS PELOS USUÁRIOS, NEM DETER A POSSE DOS ITENS ANUNCIADOS E, AINDA, NÃO REALIZAR AS OFERTAS DE VENDA NEM INTERVIR NA ENTREGA DOS PRODUTOS, FICA ISENTO DE QUALQUER RESPONSABILIDADE ADVINDA DA NEGOCIAÇÃO DE TAIS PRODUTOS, INCLUINDO MAS NÃO SE LIMITANDO A: EXISTÊNCIA, QUANTIDADE, QUALIDADE, ESTADO, DESCRIÇÃO, INTEGRIDADE OU LEGITIMIDADE DOS PRODUTOS OFERECIDOS, ADQUIRIDOS OU ALIENADOS PELOS USUÁRIOS, ASSIM COMO PELA CAPACIDADE PARA CONTRATAR DOS USUÁRIOS OU PELA VERACIDADE DOS DADOS PESSOAIS INSERIDOS NOS CADASTROS. O SITE NÃO OUTORGA GARANTIA POR VÍCIOS OCULTOS OU APARENTES NAS NEGOCIAÇÕES ENTRE OS USUÁRIOS, SENDO CERTO QUE CADA USUÁRIO CONHECE E ACEITA SER O ÚNICO RESPONSÁVEL PELOS PRODUTOS QUE ANUNCIA OU PELAS OFERTAS QUE REALIZA. O USUÁRIO VENDEDOR SERÁ O ÚNICO E EXCLUSIVO RESPONSÁVEL POR QUAISQUER DANOS, INDENIZAÇÕES E PREJUÍZOS DECORRENTES DA UTILIZAÇÃO INDEVIDA DE FOTOS E PRODUTOS PUBLICADOS PELO USUÁRIO VENDEDOR, DEVENDO ESTE INDENIZAR E MANTER O SITE INDENE DE QUAISQUER RECLAMAÇÕES.

    <p>13.3 O SITE NÃO SE RESPONSABILIZA POR VÍCIOS OU DEFEITOS TÉCNICOS E/OU OPERACIONAIS ORIUNDOS DO SISTEMA DO USUÁRIO OU DE TERCEIROS, INCLUSIVE DAS EMPRESAS GESTORAS DE PAGAMENTOS ELENCADAS NA CLÁUSULA 9.1.

    <p>13.4. EM NENHUM CASO O SITE SERÁ RESPONSÁVEL PELO LUCRO CESSANTE OU POR QUALQUER OUTRO DANO E/OU PREJUÍZO QUE O USUÁRIO POSSA SOFRER DEVIDO ÀS NEGOCIAÇÕES REALIZADAS OU NÃO REALIZADAS ATRAVÉS DO SITE, AINDA QUE DECORRENTES DA CONDUTA DE OUTROS USUÁRIOS DO SITE.

    <p>13.5. O SITE NÃO SE RESPONSABILIZA PELAS OBRIGAÇÕES DE NATUREZA TRIBUTÁRIA QUE INCIDAM SOBRE AS NEGOCIAÇÕES REALIZADAS ENTRE O USUÁRIO COMPRADOR E O USUÁRIO VENDEDOR. ASSIM, O USUÁRIO VENDEDOR QUE ATUE COMO COMERCIANTE, NOS TERMOS DA LEI EM VIGOR, RESPONSABILIZAR-SE-Á PELA INTEGRALIDADE DAS OBRIGAÇÕES ORIUNDAS DE SUAS ATIVIDADES, NOTADAMENTE PELOS TRIBUTOS INCIDENTES.
        
    <p>13.6.  O FILOMENNA NÃO SE RESPONSABILIZA POR QUAISQUER PREJUÍZOS QUE POSSAM DECORRER DA RELAÇÃO EXISTENTE ENTRE USUÁRIOS VENDEDORES QUE FAZEM REVENDA DE PRODUTOS DE TERCEIROS POR INTERMÉDIO DO SITE (VENDEDORES PONTA A PONTA) E OS PROPRIETÁRIOS DOS PRODUTOS.

    <p>13.7. O SITE NÃO SE RESPONSABILIZA POR QUALQUER DANO, PREJUÍZO OU PERDA SOFRIDOS PELO USUÁRIO EM RAZÃO DE FALHAS NA INTERNET, NO SISTEMA OU NO SERVIDOR UTILIZADO PELO USUÁRIO, OU AQUELES DECORRENTES DE CONDUTAS DE TERCEIROS, DE CASO FORTUITO OU DE FORÇA MAIOR. O SITE TAMBÉM NÃO SERÁ RESPONSÁVEL POR QUALQUER VÍRUS QUE POSSA ATACAR O EQUIPAMENTO DO USUÁRIO EM DECORRÊNCIA DO ACESSO, UTILIZAÇÃO OU NAVEGAÇÃO NA INTERNET OU COMO CONSEQUÊNCIA DA TRANSFERÊNCIA DE DADOS, ARQUIVOS, IMAGENS, TEXTOS OU ÁUDIO. 

    <p>13.8. O USUÁRIO INDENIZARÁ O SITE, SUAS FILIAIS, EMPRESAS CONTROLADAS OU CONTROLADORAS, DIRETORES, ADMINISTRADORES, COLABORADORES, REPRESENTANTES E EMPREGADOS POR QUALQUER DEMANDA PROMOVIDA POR OUTROS USUÁRIOS OU TERCEIROS DECORRENTES DE SUAS ATIVIDADES NO SITE OU POR SEU DESCUMPRIMENTO DOS PRESENTES TERMOS E DEMAIS POLÍTICAS DO SITE, OU PELA VIOLAÇÃO DE QUALQUER LEI OU DIREITOS DE TERCEIROS, INCLUINDO HONORÁRIOS ADVOCATÍCIOS.

    

    <h2>14 - VIOLAÇÃO DO SISTEMA E DO SIGILO DE INFORMAÇÕES</h2>

    <p>14.1. Não é permitida a utilização de nenhum dispositivo, software ou outro recurso que venha a interferir nas atividades e operações do SITE, bem como nos ANÚNCIOS, descrições, contas ou seus bancos de dados. Qualquer intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito de propriedade intelectual e/ou as proibições estipuladas nestes TERMOS, tornarão o responsável passível das ações legais pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.

    <p>14.2. Toda informação ou DADOS PESSOAIS inseridos pelo USUÁRIO no SITE é armazenada em servidores ou meios magnéticos de alta segurança. O SITE se obriga a adotar as medidas necessárias para manter o sigilo e a segurança das informações, ficando estabelecido, entretanto, que não responderá por quaisquer prejuízos ocasionados pela violação das medidas necessárias de segurança e sigilo por terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as informações de usuários.

    <p>14.3. Eventuais dúvidas sobre a proteção e sigilo dos DADOS PESSOAIS ou para obter maiores informações consulte nossa página de política de privacidade:  https://www.filomenna.com.br/ajuda/sobre-o-filomenna/politica-de-privacidade-e-termos-de-us[…]ei/politica-de-privacidade-e-confidencialidade-da-informacao

    <h2>15 - DISPOSIÇÕES GERAIS</h2>

    <p>15.1. Estes TERMOS não geram nenhum contrato de sociedade, de mandato, franquia ou relação de trabalho entre o SITE e o(s) USUÁRIO(s).

    <p>15.2. O uso comercial da expressão FILOMENNA ou www.filomenna.com.br como marca, nome empresarial ou nome de domínio, bem como os conteúdos das telas relativas aos serviços do SITE assim como os programas, bancos de dados, redes, arquivos que permitem que o USUÁRIO acesse e use sua conta são propriedade do SITE e estão protegidos pelas leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais. O uso indevido e a reprodução total ou parcial dos referidos conteúdos são proibidos, salvo a autorização expressa do FILOMENNA.

    <h2>16 - FORO E LEGISLAÇÃO APLICÁVEL</h2>

    <p>16.1. Estes TERMOS são regidos pelas leis vigentes na República Federativa do Brasil. Para dirimir eventuais dúvidas ou questões relativas aos presentes TERMOS, as partes elegem o Foro Central da Cidade de São Paulo, com exclusão de qualquer outro.

  </div>
  <footer>
    <%= render "shared/footer" %>
  </footer>
</div>