
.dont-have-trades {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}
.dont-have-trades-title-btn{
  margin: auto;
}
.dont-have-trades-title-btn h3{
  color: $filo-gray;
}