.banner-user {
  margin: 20px;
  padding: 3px;
  border-radius: 10px;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
}
