
@media only screen and (min-width: 360px) {
  .banner-user {
    margin: 20px;
    padding: 3px;
    border-radius: 20px;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
  }

  .name-rating {
    width: 70vw;
    height: 2em;
    margin: 5px;
    padding: 3px;
    background-color: $filo-blue;
    color:rgb(211, 211, 211);
    text-align: left;
    align-items: center;
  }

  .name-rating p {
    font-size: 15px;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .banner-user {
    margin: 20px;
    padding: 3px;
    border-radius: 20px;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
  }

  .name-rating {
    width: 70vw;
    height: 1.5em;
    margin: 2px;
    background-color: $filo-blue;
    color:rgb(211, 211, 211);
    text-align: left;
    align-items: center;
    border-radius: 3px;
  }

  .name-rating p {
    font-size: 15px;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .banner-user {
    margin: 20px;
    padding: 3px;
    border-radius: 20px;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
    background-size: auto;
  }

  .name-rating {
    width: 80vw;
    height: 2em;
    margin: 15px;
    padding: 3px;
    background-color: $filo-blue;
    color:rgb(211, 211, 211);
    text-align: left;
    align-items: center;
  }

  .name-rating p {
    font-size: 15px;
    padding-left: 10px;
  }
}

.arrow {
  height: 450px;
  font-size: 40px;
  width: 100%;
}

.arrow i {
  color: $filo-gold;
}

.arrow i:hover {
  color: $filo-blue;
}

.banner-clothes {
  height: 450px;
  position: relative;
}

.div-absolute {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 1rem;
  bottom: 0rem;
  height: 100px;
  width: 150px;
}

.banner-index-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.banner-index-avatar img {
  margin-right: 0px;

}

.banner-index-name {
  position: absolute;
  bottom: 1.7rem;
  font-family: $headers-font;
  color: $filo-white;

}

.banner-index-rating {
  position: absolute;
  bottom: 0.5rem;
  font-family: $headers-font;
  color: $filo-white;
}

.banner-armario h1 {
  margin: 0px;
  font-family: $filo-logo;
  color: $filo-blue;
  font-size: 30px;
}

.banner-armario p {
  font-family: $headers-font;
  margin: 0;
  font-size: 18px;
}

