.btn-trade a {
  margin-right: 95px;
  color: $filo-blue;
  font-family: $headers-font;
}

.btn-trade a:hover {
  color: $filo-gold;
  background-color: $filo-white;
  font-family: $headers-font;
}

.btn-show-profile {
  margin-left: 5px;
}