.card-category {
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}         

.card-trade {
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 5px;
  width: 80vw;
  height: 200px;
  // display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
}

.card-description {
  width: 80vw;
  height: 150px;
  background-color: rgb(231, 229, 229);
  margin: 10px 5%;
  padding: 10px 45px;
  border-radius: 10px;
  color: $filo-blue;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}