.card-category {
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}         

.card-trade {
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 5px;
  width: 70vw;
  height: 180px;
  // display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
  font-famyly: $headers-font;
}

.card-trade-receb {
margin-bottom: 5px;
padding: 20px;
border-radius: 5px;
justify-content: right;
width: 70vw;
height: 180px;
align-items: center;
background-color: $filo-blue;
color: $filo-white;
margin-left: 70px;
font-family: $headers-font;
}

.card-description {
  width: 70vw;
  height: 150px;
  background-color: rgb(231, 229, 229);
  margin: 10px 5%;
  padding: 10px 45px;
  border-radius: 10px;
  color: $filo-blue;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-filo-white {
  color: $filo-white;
  font-size: 18px;
  
}

.text-filo {
  font-family: 'nunito';
  color: $gray;
  font-size: 18px;
}

.text-filo-gray {
  color: $filo-light;
}

.sem-fotos {
  font-family: $filo-logo;
  font-size: 28px;
  color: $filo-gray;
  text-align: center;
}