$font-size-link: 15px;
$space-between-buttons: 15px;

.container-forms {
  width: 30%;
  margin-top: 50px;
  color: $filo-light;
  font-family: nunito;
}

.btn-link {
  background-color: $filo-gold;
  color: $filo-white;
  width: 100%;
  font-size: $font-size-link;
  margin-top: $space-between-buttons;
}

.btn-main {
  width: 100%;
  background-color: $filo-tifany;
  color: $filo-white;
  border: none;
}

.container-forms > h2 {
  color: $filo-orange;
  font-family: $filo-logo;
}

.forgot-password{
  font-size: $font-size-link;
  display: inline-block;
  margin-top: $space-between-buttons;
  width: 100%;
}