.container-forms {
  width: 30%;
  margin-top: 50px;
  color: $filo-light;
  font-family: nunito;
}
.btn-link {
  color: $filo-gold;
  width: 100%;
}
.btn-main {
  width: 100%;
  background-color: $filo-tifany;
  border: none;
}
.container-forms > h2 {
  color: $filo-orange;
  font-family: $filo-logo;
}