.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: $filo-blue;
}

h2 {
  margin-bottom: 0;
}

.nav-logo {
  text-decoration: none;
  font-family: $filo-logo;
  color: $filo-gold;
  font-size: 29px;
}

h2 a:hover {
  text-decoration: none;
  color: $filo-tifany;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-messages {
  text-decoration: none;
  color: $filo-white;
  font-family: $headers-font;
  font-size: 18px;
  width: 120px;
}

.name-index {
  color: $filo-white;
  margin-right: 20px;
  align-items: center;
  font-family: $headers-font;
  font-size: 18px;
}

.nav-messages:hover {
  text-decoration: none;
  color: $filo-tifany
}

.dropdown-item {
  font-size: 15px;
}


