<%= render "shared/navbar" %>

<div class="container">
  <% current_user.trades.each do |trade| %>
    <p><%= trade.product.name %></p>
    <p><%= trade.content %></p>
    <p><%= trade.product.user.first_name %></p>
    <p>************************************</p>
  <% end %>
</div>